*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 620px;
    margin: 0 auto;
    font-size: 0;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.box{
    border: 2px solid black;
    width:200px;
    height:200px;
    display: inline-block;
}

.box1{
    border-top: none;
    border-left: none;
}

.box2{
    border-top: none;
}

.box3{
    border-top: none;
    border-right: none;
}

.box4{
    border-left: none;
}
.box6{
    border-right: none;
}
.box7{
    border-left:none;
    border-bottom:none;
}
.box8{
    border-bottom:none;

}
.box9{
    border-bottom:none;
    border-right:none;
}

.cross{
    background-image: url(images/cross.png);
    background-position: center;
}

.circle{
    background-image: url(images/circle.png);
    background-position: center;
}

main{
    width:100%;
    min-height: 100vh;
    position: relative;
}

#circleWon,#crossWon,#tie{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.7);
}

#circleWon,#crossWon,#tie{
    display: none;
}
.result{
    max-width: 600px;
    background-color: #fff;
    min-width: 300px;
    padding: 20px;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
p{
    color:green;
    font-size: 40px;
}